<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderzoe.dao.TeacherMapper">
    <select id="getTeachers" resultType="com.coderzoe.entity.Teacher">
        select * from teacher;
    </select>

    <resultMap id="studentsAndTeacher" type="com.coderzoe.entity.NewTeacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <collection property="studentList" ofType="com.coderzoe.entity.NewStudent">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="tid" column="tid"/>
        </collection>
    </resultMap>
    <select id="getNewTeacher" resultMap="studentsAndTeacher">
        select s.id sid, s.name sname,t.name tname, t.id tid from student s,teacher t
        where s.tid = t.id;
    </select>

    <resultMap id="studentsAndTeacher2" type="com.coderzoe.entity.NewTeacher">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="studentList" column="id" javaType="ArrayList" ofType="com.coderzoe.entity.NewStudent" select="getStudents"/>
    </resultMap>
    <select id="getNewTeacher2" resultMap="studentsAndTeacher2">
        select * from teacher
    </select>
    <select id="getStudents" resultType="com.coderzoe.entity.NewStudent">
        select * from student where tid = #{id};
    </select>
</mapper>