<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderzoe.dao.UserDao">
    <insert id="insertUser" parameterType="com.coderzoe.entity.User">
        insert into smbms.user(id,name,password) values(#{id},#{name},#{password})
    </insert>
    <update id="update" parameterType="com.coderzoe.entity.User">
        update smbms.user set id=#{id},name=#{name},password=#{password} where id=#{id};
    </update>
    <delete id="delete" parameterType="long">
        delete from smbms.user where id = #{id}
    </delete>
    <select id="getUserList" resultType="com.coderzoe.entity.User">
        select * from smbms.user
    </select>
    <select id="getUserById" resultType="com.coderzoe.entity.User" parameterType="long">
        select * from smbms.user where id = #{id}
    </select>
</mapper>